/*** GENERAL ***/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #333;
  --secondary: #fafffd;
  --accent: #bd2424;
  --accent2: #f3b61f;
  --accent3: #3c91e6;
}

html,
body {
  background-color: var(--secondary);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: clamp(2rem, 6dvw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 4dvw, 2rem);
}

p {
  font-size: clamp(1.2rem, 3dvw, 1.5rem);
  max-width: 50ch;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.name {
  color: var(--accent);
  font-size: clamp(3rem, 6dvw, 5rem);
}

.arrow-down {
  font-size: clamp(3rem, 6dvw, 5rem);
  color: var(--primary);
  margin-top: 1rem;
  opacity: 90%;
}

.arrow-down:hover {
  opacity: 100%;
}

.fa-star {
  color: var(--accent2);
  font-size: clamp(0.8rem, 2dvw, 1.2rem);
}

/* BURGIRRR */
