---
import Layout from '../layouts/Layout.astro';
import Attribute from "../components/Attribute.astro"
---

<Layout title="Hello there!">
	
	<article class="hero">
		<section class="top attributes">
	<Attribute adjective="Lærenem" placement="top" description="Jeg er fandeme lærenem! Det er en af mine allerfedeste egenskaber. Fuck Janteloven!">
	</Attribute>
	<Attribute adjective="Positiv" placement="top" description="Og det er ikke Covid. Jeg stræber altid efter at fokusere på det positive i en given situation, fremfor hvad jeg ikke har indflydelse på.">
	</Attribute>
	<Attribute adjective="Stædig" placement="top" description="Hvis jeg virkelig sætter mig noget for, så gennemfører jeg det. Jeg øver mig samtidig i at være mindre stædig, når mit verdenssyn bliver udfordret.">
	</Attribute>
	<Attribute adjective="Kreativ" placement="top" description="En ven sagde engang, at jeg får de bedste idéer efter to øl. Idéer kommer jeg altså ikke til at løbe tør for, any time soon. Jeg kan dog have svært ved at raffinere disse idéer, så de ikke ender i et rod.">
	</Attribute>
	<Attribute adjective="Passioneret" placement="top" description="For kærlighed og venskab. For det nørdede; film, musik, bøger, brætspil. Og for den geniale linje kode og det unikke kameraskud.">
	</Attribute>
	</section>
	<section class="bottom attributes">
		<Attribute adjective="Teamplayer" placement="bottom" description="Jeg har altid dyrket holdsport og jeg sætter en ære i at være en god kammerat. Jeg tror 100% på, at vi lever bedst når vi behandler hinanden godt.">
		</Attribute>
		<Attribute adjective="Doven" placement="bottom" description="Du ved, den gode slags. Work smarter, not harder. Jeg er sådan en 4-dages-arbejdsuge kind of guy. Og måske pjækker jeg lidt for ofte... Men til gengæld er jeg ærlig!">
		</Attribute>
		<Attribute adjective="Ærlig" placement="bottom" description="Jeg sværger!">
		</Attribute>
		<Attribute adjective="Nysgerrig" placement="bottom" description="På livet, mennesker og alle de ting, jeg ikke forstår... Så, virkelig mange ting.">
		</Attribute>
		<Attribute adjective="Hårdtarbejdende" placement="bottom" description="Når jeg arbejder, gør jeg det så godt jeg overhovedet er i stand til. Jeg er hverken interesseret i at spilde din eller min tid, så jeg vægter effektivitet og gode resultater ekstremt højt.">
		</Attribute> 
	</section>
	</article>

</Layout>

<style>


		.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: calc(1rem + 5dvw);
  padding-block: 2rem;
   background-image: url(pics/PB_BW1.webp);
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content:center;
}


@media only screen and (min-width: 850px) {

.attributes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

}


</style>
