---
import Layout from '../layouts/Layout.astro';
import BurgerMenu from "../components/BurgerMenu.astro";
import Attribute from "../components/Attribute.astro"
import SkillContainer from "../components/SkillContainer.astro"
import ProjectContainer from '../components/ProjectContainer.astro';
---

<Layout title="Christian">
	<article id="hero" class="hero">
		<section class="top attributes">
	<Attribute adjective="Lærenem" placement="top" description="Det har jeg altid været og det vil jeg altid være. Screw you, Jantelov!">
	</Attribute>
	<Attribute adjective="Positiv" placement="top" description="Og det er ikke Covid! Jeg er god til at finde det positive i en hvilken som helst situation.">
	</Attribute>
	<Attribute adjective="Stædig" placement="top" description="Hvis jeg sætter mig noget for, så gennemfører jeg det, og hvis jeg virkelig tror jeg har ret, så kan jeg godt være lidt af en pain in the ass. Det øver jeg mig på!">
	</Attribute>
	<Attribute adjective="Kreativ" placement="top" description="En ven sagde engang, at jeg får de bedste idéer efter to øl. Jeg tror han var sarkastisk. Men idéer kommer jeg aldrig til at løbe tør for!">
	</Attribute>
	<Attribute adjective="Passioneret" placement="top" description="For kærlighed og venskab! For film, musik, bøger, brætspil og hvad end der har min interesse.">
	</Attribute>
	</section>
	<section class="bottom attributes">
		<Attribute adjective="Teamplayer" placement="bottom" description="Jeg har altid dyrket holdsport og jeg sætter en ære i at være en god kammerat.">
		</Attribute>
		<Attribute adjective="Doven" placement="bottom" description="Du ved, den gode slags; work smarter, not harder.">
		</Attribute>
		<Attribute adjective="Ærlig" placement="bottom" description="Jeg sværger!">
		</Attribute>
		<Attribute adjective="Nysgerrig" placement="bottom" description="På livet, teknologi og alle de ting, jeg ikke forstår... Så, virkelig mange ting.">
		</Attribute>
		<Attribute adjective="Hårdtarbejdende" placement="bottom" description='Jeg er ikke fan af hele "arbejd-dig-selv-ihjel" konceptet. Faktisk bruger jeg helst så kort tid som muligt, på obligatoriske ting jeg ikke brænder for. Til gengæld er jeg yderst effektiv - og ærlig.'>
		</Attribute> 
	</section>
	</article>

	 <article id="welcome" class="welcome">
            <h1>Hej, mit navn er <br> <span class="name">Christian Valentin.</span></h1>
            <p>Jeg studerer <span class="bold">Multimediedesign</span> på KEA og har særligt fokus på at lave <span class="bold">brugervenlige websites</span> og <span class="bold">underholdende video
                    content</span>. </p> 
					<p>En af mine bedste egenskaber er, at jeg er ekstremt <span class="bold">lærenem</span>. Så hvad end jobbet går ud på, så skal jeg nok få det klaret. Scroll ned for et hurtigt overblik over en række af de <span class="bold">kompetencer</span>, jeg har erhvervet mig på studiet so far.  </p>
            <a href="#skills"><i class="fa-sharp fa-solid fa-arrow-down arrow-down"></i></a>
        </article>

	<article id="skills" class="skills">
<SkillContainer jeg="Jeg er" heading="God til">
	<p class="skill">HTML</p>
<p class="skill">CSS</p>
<p class="skill">JS</p>
<p class="skill">Astro</p>
<p class="skill">React</p>
<p class="skill">GIT</p>
<p class="skill">NPM</p>
<p class="skill">Premiere Pro</p>
<p class="skill">Photoshop</p>
<p class="skill">Figma</p>
<p class="skill">Netlify</p>
<p class="skill">ChatGPT</p>
</SkillContainer>
<SkillContainer jeg="Jeg er" heading="Ved at lære">
<p class="skill">Tailwind</p>
<p class="skill">Next.js</p>
<p class="skill">Vite</p>
<p class="skill">Lottie</p>
<p class="skill">XD</p>
</SkillContainer>
<SkillContainer jeg="Jeg er" heading="Flydende i">
	<p class="skill">Dansk</p>

	<p class="skill">Engelsk</p>

	<p class="skill">Danglish</p>
</SkillContainer>
<SkillContainer jeg="Og jeg har også" heading="Andre kvaliteter">
	<p class="skill">High-Fives</p>

<p class="skill">Madlavning</p>
<p class="skill">Brætspilssamling</p>
</SkillContainer>
	</article>


	<article id="projects" class="projects">
<div class="projects-heading">
			<p class="pm">Udvalgte</p>
		<h2>Projekter</h2>
		</div>
			
	<ProjectContainer link="https://quepasapapi.netlify.app/" img="/pics/que-pasa-papi.webp" alt=`Image of Que Pasa Papi project`>
	  <div class="project-wrapper">
		<a href="https://quepasapapi.com/da" target="_blank"> <h2>Que Pasa Papi</h2></a>
        <p>Redesign af kampagnesite og videoproduktion for sommerens tapasoplevelse hos Que Pasa Papi.</p>
		<div class="project-tags">
				<a class="project-tag" href="https://github.com/chri44nj/quepasapapi" target="_blank">Kodning</a>
			<a class="project-tag" href="https://www.youtube.com/shorts/YwmpP3GjmNA" target="_blank">Videoproduktion</a>
		<p class="project-tag">Astro</p>
		<p class="project-tag">2. Semester</p></div>
    </div>
	</ProjectContainer>
	  <div class="breakline2"></div>
	<ProjectContainer link="https://royalescapes-kampagne.netlify.app/" img="/pics/royale-escapes.webp" alt=`Image of Royale Escapes project`>
	  <div class="project-wrapper order">
		<a href="https://www.royalescapes.dk/" target="_blank"> <h2>Royale Escapes</h2></a>
        <p>Redesign af kampagnesite og videoproduktion for det nyeste escape room hos Royale Escapes.</p>
		<div class="project-tags">
			<a class="project-tag" href="https://github.com/chri44nj/royalEscapesSite" target="_blank">Kodning</a>
				<a class="project-tag" href="https://www.youtube.com/watch?v=oCbtPdzOLko&ab_channel=ChristianValentin" target="_blank">Videoproduktion</a>
		<p class="project-tag">Astro</p>
		<p class="project-tag">2. Semester</p></div>
    </div>
	</ProjectContainer>
	  <div class="breakline2"></div>
	<ProjectContainer link="https://kuneredesignproject.netlify.app/" img="/pics/kune-festival.webp" alt=`Image of Kune Festival project`>
	  <div class="project-wrapper">
		<a href="https://www.kunekbh.com/" target="_blank"> <h2>Kune Festival</h2></a>
        <p>Redesign af website for Kune Festival og arbejde med dynamisk fetching af data fra Supabase.</p>
		<div class="project-tags">
			<a class="project-tag" href="https://github.com/chri44nj/kuneRedesignProject" target="_blank">Kodning</a>
				<p class="project-tag">Astro</p>
		<p class="project-tag">Supabase</p>
		<p class="project-tag">2. Semester</p></div>
    </div>
	</ProjectContainer>
	</article>
		<article class="extra">
	<div class="projects-heading">
			<p class="pm">Yderligere</p>
		<h2>Projekter</h2>
		</div>
		<div class="extra-projects">
			<a href="	https://www.youtube.com/watch?v=LI2XIK7mKl8&ab_channel=ChristianValentin" target="_blank">
				<p class="extra-project">Min dag på et minut</p>
			</a>
			<a href="https://tofuckingdo.netlify.app/" target="_blank">
				<p class="extra-project">To-Do Liste</p>
			</a>
			<a href="https://www.youtube.com/watch?v=4ugTDzC1atM&ab_channel=ChristianValentin" target="_blank">
				<p class="extra-project">1-min Portræt</p>
			</a>
			<a href="https://animal-base-christian.netlify.app/" target="_blank">
				<p class="extra-project">Animal Base</p>
			</a>
			<a href="https://assignment-portfolio-chrisvalentin.netlify.app/" target="_blank">
				<p class="extra-project">Responsivt Design</p>
			</a>
			<a href="https://pet-collection.netlify.app/" target="_blank">
				<p class="extra-project">Pet Collection</p>
			</a>
			<a href="https://www.youtube.com/watch?v=UHkIw9O6l70&ab_channel=ChristianValentin" target="_blank">
				<p class="extra-project">DK's Bedste Portrætmaler</p>
			</a>
			<a href="			https://www.youtube.com/watch?v=ZJkuXf9w6dQ&ab_channel=ChristianValentin
" target="_blank">
				<p class="extra-project">QPP Hero Video</p>
			</a>
		</div>
		</article>
</Layout>

<style>


		.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   background-image: url(/pics/PB_BW1.webp); 
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content:center;
}

.welcome {
  text-align: center;
  background-color: var(--secondary);
  color: var(--primary);
  gap: 0.5rem;	
}

.skills {
	gap: 2rem;
	background-color: var(--primary);
	color: var(--secondary);
}

.skill {
	 border-radius: 10px;
	 padding: 0.25rem 0.75rem;
    background-color: var(--accent2);
	font-weight: bold;
}

.hero, .welcome, .skills, .projects {
	 padding-block: 2rem;
	 padding-inline: 1rem;
}
.welcome, .skills, .projects, .extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
background-color: var(--secondary);
color: var(--primary);
gap: 2rem;
 text-align: center;
}

.projects-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.project-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.project-wrapper p:first-of-type {
	margin-block: 0.5rem;
}

.project-tags, .extra-projects {
display: flex;
justify-content: center;
align-items: center;
 flex-wrap: wrap;
gap: 0.75rem;
}

.project-tag, .extra-project {
background-color: var(--primary);
color: var(--secondary);
 padding: 0.2rem 0.6rem;
border-radius: 10px;
font-weight: bold;
}

a.project-tag, .extra-project {
	background-color: var(--accent);
	&:hover {
		background-color: var(--accent2);
	}
}

a h2 {
	color: var(--accent);
	&:hover {
		color: var(--accent2);
	}
}

.extra {
	gap: 2rem;
 text-align: center;
	background-color: var(--primary);
	color: var(--secondary);
	padding-top: 2rem;
}

.breakline2 {
  height: 5px;
  width: 100%;
  background-color: var(--primary);
   margin-bottom: 2rem;
}

@media only screen and (min-width: 850px) {

.attributes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero, .welcome, .skills, .projects, .extra {
	 padding-inline: calc(1rem + 5dvw);
}

.welcome, .skills, .projects {
	padding-block: 4rem;
}

.extra {
	padding-bottom: 2rem;
}

.skills {
	gap: 4rem;
}

.skill {
	
font-size: clamp(1.5rem, 4dvw, 2rem);
}

.projects {
	gap: 4rem;
	 text-align: start;
}

.project-wrapper {

	gap: 1rem;
}

.project-wrapper p:first-of-type {
	margin-block: 0;
}

.project-tags {
justify-content: start;
}

.project-tag, .extra-project {
 padding: 0.25rem 0.75rem;
}

h2 {
    font-size: clamp(2.5rem, 4dvw, 2rem);
}

.order {
	order: 1;
}
}


</style>
