---
import Layout from '../layouts/Layout.astro';
import Attribute from "../components/Attribute.astro"
import SkillContainer from "../components/SkillContainer.astro"
---

<Layout title="Hello there!">
	
	<article class="hero">
		<section class="top attributes">
	<Attribute adjective="Lærenem" placement="top" description="Jeg er fandeme lærenem! Det er en af mine allerfedeste egenskaber. Fuck Janteloven!">
	</Attribute>
	<Attribute adjective="Positiv" placement="top" description="Og det er ikke Covid. Jeg stræber altid efter at fokusere på det positive i en given situation, fremfor hvad jeg ikke har indflydelse på.">
	</Attribute>
	<Attribute adjective="Stædig" placement="top" description="Hvis jeg virkelig sætter mig noget for, så gennemfører jeg det. Jeg øver mig samtidig i at være mindre stædig, når mit verdenssyn bliver udfordret.">
	</Attribute>
	<Attribute adjective="Kreativ" placement="top" description="En ven sagde engang, at jeg får de bedste idéer efter to øl. Idéer kommer jeg altså ikke til at løbe tør for, any time soon. Jeg kan dog have svært ved at raffinere disse idéer, så de ikke ender i et rod.">
	</Attribute>
	<Attribute adjective="Passioneret" placement="top" description="For kærlighed og venskab. For det nørdede; film, musik, bøger, brætspil. Og for den geniale linje kode og det unikke kameraskud.">
	</Attribute>
	</section>
	<section class="bottom attributes">
		<Attribute adjective="Teamplayer" placement="bottom" description="Jeg har altid dyrket holdsport og jeg sætter en ære i at være en god kammerat. Jeg tror 100% på, at vi lever bedst når vi behandler hinanden godt.">
		</Attribute>
		<Attribute adjective="Doven" placement="bottom" description="Du ved, den gode slags. Work smarter, not harder. Jeg er sådan en 4-dages-arbejdsuge kind of guy. Og måske pjækker jeg lidt for ofte... Men til gengæld er jeg ærlig!">
		</Attribute>
		<Attribute adjective="Ærlig" placement="bottom" description="Jeg sværger!">
		</Attribute>
		<Attribute adjective="Nysgerrig" placement="bottom" description="På livet, mennesker og alle de ting, jeg ikke forstår... Så, virkelig mange ting.">
		</Attribute>
		<Attribute adjective="Hårdtarbejdende" placement="bottom" description="Når jeg arbejder, gør jeg det så godt jeg overhovedet er i stand til. Jeg er hverken interesseret i at spilde din eller min tid, så jeg vægter effektivitet og gode resultater ekstremt højt.">
		</Attribute> 
	</section>
	</article>

	 <article class="welcome">
            <h1>Hej, mit navn er <br> <span class="name">Christian Valentin.</span></h1>
            <p>Jeg studerer <span class="bold">Multimediedesign</span> på KEA og har særligt fokus på at lave <span class="bold">brugervenlige websites</span> og <span class="bold">awesome video
                    content</span>. </p> 
					<p> En af mine bedste egenskaber er, at jeg elsker at lære og er ekstremt <span class="bold">lærenem</span>. Scroll ned for et overblik over en række af de <span class="bold">kompetencer</span>, jeg har erhvervet mig på studiet so far.  </p>
            <a href="/"><i class="fa-sharp fa-solid fa-arrow-down arrow-down"></i></a>
        </article>

	<article class="skills">
<SkillContainer heading="God til">
	<p class="skill">HTML</p>
	<i class="fa-solid fa-star"></i>
<p class="skill">CSS</p>
<i class="fa-solid fa-star"></i>
<p class="skill">JS</p>
<i class="fa-solid fa-star"></i>
<p class="skill">Astro</p>
<i class="fa-solid fa-star"></i>
<p class="skill">GIT</p>
<i class="fa-solid fa-star"></i>
<p class="skill">NPM</p>
<i class="fa-solid fa-star"></i>
<p class="skill">Premiere Pro</p>
<i class="fa-solid fa-star"></i>
<p class="skill">Photoshop</p>
<i class="fa-solid fa-star"></i>
<p class="skill">Figma</p>
</SkillContainer>
<SkillContainer heading="Ved at lære">
	<p class="skill">React</p>
	<i class="fa-solid fa-star"></i>
<p class="skill">Tailwind</p>
<i class="fa-solid fa-star"></i>
<p class="skill">Vite</p>
<i class="fa-solid fa-star"></i>
<p class="skill">Lottie</p>
<i class="fa-solid fa-star"></i>
<p class="skill">XD</p>
</SkillContainer>
<SkillContainer heading="Flydende i">
	<p class="skill">Dansk</p>
	<i class="fa-solid fa-star"></i>
	<p class="skill">Engelsk</p>
	<i class="fa-solid fa-star"></i>
	<p class="skill">Danglish</p>
</SkillContainer>
<SkillContainer heading="Andre kvaliteter">
	<p class="skill">High-Fives</p>
	<i class="fa-solid fa-star"></i>
<p class="skill">Madlavning</p>
<i class="fa-solid fa-star"></i>
<p class="skill">Brætspilssamling</p>
</SkillContainer>
	</article>
</Layout>

<style>


		.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    padding-block: 2rem;
  padding-inline: calc(1rem + 5dvw);
   background-image: url(pics/PB_BW1.webp);
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content:center;
}

.welcome {
 height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   padding-block: 2rem;
  padding-inline: calc(1rem + 5dvw);
  text-align: center;
  background-color: var(--secondary);
  color: var(--primary);
  gap: 0.5rem;	
}

.skills {
	 height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding-block: 2rem;
	 padding-inline: calc(0.5rem + 5dvw);
	background-color: var(--primary);
	color: var(--secondary);
	
}

@media only screen and (min-width: 850px) {

.attributes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills {
	gap: 3rem;
}

.skill {
font-size: clamp(1.5rem, 4dvw, 2rem);
}
}


</style>
