---
---

<div class="menu-container">
   <h2>MENU</h2>
      <ul>
            <li><a href="#hero">Mit fjæs</a></li>
            <li><a href="#welcome">Hej!</a></li>
            <li><a href="#skills">Kompetencer</a></li>
            <li><a href="#projects">Projekter</a></li>
            <li><a href="#footer">Kontakt</a></li>
        </ul>
<div class="burger-menu">
    <div class="burger-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

</div>
</div>


<style>

  
    .menu-container {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--accent);
    height: 100vh; 
    padding-right: 1rem;
    transition: right 0.5s;
    z-index: 100;
      width: 100dvw;
}


.burger-menu {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
}

.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  gap: 0.3rem;
  margin-right: 1rem;

      &:hover .bar {
        background-color: var(--accent2);
}

}

.bar {
    border-radius: 2px;
    width: 30px;
    height: 5px;
    background-color: var(--accent);
     transition: 0.2s ease-in-out;    
    }

     .burger-icon .bar.open:nth-child(2) {
      opacity: 0;
    }

    .burger-icon .bar.open:nth-child(1) {
          width: 35px;
      transform: translateY(10px) rotate(50deg);
    }
    .burger-icon .bar.open:nth-child(3) {
          width: 35px;
      transform: translateY(-10px) rotate(-50deg);
    }


    h2 {
             margin-left: 2rem;
             font-size: 3rem;
             font-weight: bold;
             color: white;
    }
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 0.5rem;
    margin-left: 2rem;
}


a {
    font-weight: bold;
     font-size: clamp(1.4rem, 3dvw, 2rem);
    text-decoration: none;
    color: var(--secondary);
    transition: 0.2s;
    &:hover {
        color: var(--accent2);
    }
}

.open {
     background-color: var(--secondary);
}

@media only screen and (min-width: 850px) {
      .menu-container {
          padding-right: 2rem;
          padding-right: 1rem;
          width: 33dvw;
}



.burger-icon {
    margin-right: 2rem;
}
}

</style>