---
const { jeg , heading } = Astro.props;
---


<section>
    <div class="skill-heading">
    <p class="jeg">{jeg}</p>
<h2>{heading}</h2>
</div>
<div class="skill-container">
 <slot/>
</div>
</section>


<style>
h2 {
color: var(--secondary);
}

.jeg {
     font-size: clamp(1rem, 2dvw, 1.2rem);
    font-family: 'Permanent Marker', cursive;
}

.skill-heading {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 0.5rem;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}



@media only screen and (min-width: 850px) {

.skill-container {
    gap: 1rem;
      max-width: 60dvw;
}

h2 {
    font-size: clamp(2.5rem, 4dvw, 2rem);
}
}
</style>